body {
    font-family: Arial, sans-serif;
    background-color: #b9cde0;
}

header {
    background-color: #0084ff;
    border-bottom: 8px solid #44280b;
}

.header-image {
    margin: 20px auto;
    width: 300px;
    border: 3px solid #cc4b37;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #ffe2dd;
    margin-bottom: 5px;
}

.column-container {
    background-color: #a85502;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.column-container h3 {
    background-color: #cf1212;
    color: #e2e2e2;
    padding: 5px 0 5px 10px;
    border-radius: 10px 10px 0 0;
}

.form-container {
    margin: 0 auto;
    padding: 10px;
    background-color: #a85502;
    border-radius: 10px;
    margin-top: 20px;
}

.create-form {
    background-color: #FAC864;
    padding-left: 5px;
    padding-bottom: 10px;
}

.create-form h3 {
    text-align: left;
    padding-top: 5px;
    color: #cf1212;
    border-radius: 10px 10px 0 0;
}

table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.input-group-field {
    background-color: #ffffff;
    
}